html, body {
  margin: 0;
  padding: 0;
  height: 100%;
	background-color: #ebebeb;
	color: #142033;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}

#top-wrap {
  display: inline-block;
}

#header-text{
  float: left;
  margin-top: 40px;
}

#logo {
  text-indent: -99999px;
}

#header-text h1 {
  font-weight: normal;
  font-size: 17pt;
  color: #142033;
  text-shadow: 1px 2px 3px #888;
}

#header-text strong {
  font-weight: bolder;
}

#header-text h1 a {
    text-decoration: none;
    color: #142033;
}

#header-text h1 a:hover {
	-moz-transform: scale(0.9) rotate(2deg);
}

#logo a{
	width: 168px;
	height: 141px;
	display: block;
	background: url(../images/navyblue/cy_logo_navyblue_filled.png) top left no-repeat;
}

#logo a:hover{
	-webkit-transform: scale(0.9) rotate(2deg);
	-moz-transform: scale(0.9) rotate(2deg);
	-o-transform: scale(0.9) rotate(2deg);
	transform: scale(0.9) rotate(2deg;)
}

#social {
  display:inline-block;
}

#social li {
	display:inline-block;
	list-style: none;
	padding: 0px;
	margin: 0px 4px 0px 0px;
}

#social a {
	display: block;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
}

#social a:hover {
	background-position: 0px 2px;
}

a.linkedin {
	background: url(../images/navyblue/social_linkedin_filled.png) no-repeat;
}

a.github {
	background: url(../images/navyblue/social_github_filled.png) no-repeat;
	
}

a.email{
	background: url(../images/navyblue/social_email_filled.png) no-repeat;	
}

