html {
  margin: 0;
  padding: 0;
	background-color: #ebebeb;
  background: url(../images/symphony.png);
	color: #142033;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}

#container {
  width: 293px;
  margin: auto;
}

#top-wrap {
  width: 293px;
}

#header-text{
  float: left;
  margin-top: 40px;
}

#logo {
  text-indent: -99999px;
  float: right;
}

#header-text h1 {
  font-weight: normal;
  font-size: 17pt;
  color: #142033;
  text-shadow: 1px 2px 3px #888;
}

#header-text strong {
  font-weight: bolder;
}

#header-text h1 a {
    text-decoration: none;
    color: #142033;
}

#header-text h1 a:hover {
	-moz-transform: scale(0.9) rotate(2deg);
}

#logo a{
	width: 168px;
	height: 141px;
	display: block;
  background: url(../images/navyblue/cy_logo_navyblue.png) top left no-repeat;
  z-index: 5;
}

#logo a:hover{
	-webkit-transform: scale(0.9) rotate(2deg);
	-moz-transform: scale(0.9) rotate(2deg);
	-o-transform: scale(0.9) rotate(2deg);
	transform: scale(0.9) rotate(2deg;);
}

#social-icons {
  clear: both;
  padding-bottom: 10px;
}

#social-icons ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#social-icons ul li {
  display: inline;
}

#social-icons ul li a
{
  padding: .2em 1em;
	color: #142033;
  text-shadow: 1px 2px 3px #888;
}

#social-icons ul li a:hover
{
}

#tagline {
  text-align: center;
}

#tagline a {
	color: #142033;
}

#tagline a:hover {
	color: #ebebeb;
	background-color: #142033;
}

